@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/logo-home.png" class="display-4" />
    <p>Cadastre sua biblioteca de músicas favoritas no nosso site!!</p>
</div>

